.img-box {
    width: 350px;
    height: 350px;
    padding: 20px;
    border: 3px solid #d1d1d1;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
